
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Light Gray background */
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* nav */
@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav>i {
    padding: 1rem;
    font-size: 2em;
  }
  nav>ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }
  nav>ul>li {
    padding: 0.5rem;
    list-style-type: none;
  }
}
@media (max-width: 550px) {
  nav>.fa-bars {
    display: none;
  }
  .hidden--mobile {
    display: none;
  }
}
@media (min-width: 550px) {
  nav>ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
  nav>ul>li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }
}

section {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ff6666; /* Red background */
  color: white; /* Set text color to white for better readability */
}

#fasting-form,
#workout-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  background-color: white; /* Set a white background for forms */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 8px;
  color: #333;
}

input,
textarea,
select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none; /* Remove border for a cleaner button */
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  #fasting-form,
  #workout-form {
    width: 90%; /* Adjusted width for better responsiveness */
  }
}

/* Additional styles for the home page */
.home-content {
  text-align: center;
  color: #333; /* Set a different text color for the home page */
  padding: 20px;
}

.home-image {
  max-width: 100%;
  height: auto;
}

