body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #db3434;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.intermittentfasting {
  max-width: 800px;
  margin: 0 auto;
}

.intermittentfasting h2 {
  font-size: 2.5em;
}

.intermittentfasting p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: #100a0a;
  text-decoration: none;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007BFF;
  color: #0b0101;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.intermittentfasting {
  background-image: url('https://www.shutterstock.com/image-vector/intermittent-fasting-benefits-personal-diet-600nw-2138311667.jpg');
  background-size: cover;
  background-position: center;
  color: #322828;
  text-align: center;
  padding: 90px 30px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

footer {
  background-color: #db3434;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 600px) {

}
